{% extends "base.html" %}

{% block title %}Statystyki{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Statystyki</h1>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Wydatki miesięczne</h5>
                    <p class="card-text">Wykres pokazujący Twoje wydatki w ostatnich miesiącach.</p>
                    <div class="alert alert-info">
                        Wkrótce pojawią się szczegółowe statystyki wydatków!
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Kategorie produktów</h5>
                    <p class="card-text">Rozkład wydatków według kategorii produktów.</p>
                    <div class="alert alert-info">
                        Wkrótce pojawią się statystyki kategorii!
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Historia zakupów</h5>
                    <p class="card-text">Szczegółowa historia Twoich zakupów i wydatków.</p>
                    <div class="alert alert-info">
                        Wkrótce pojawią się szczegółowe statystyki historii zakupów!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 